// HEADER
#todo-input {
    border: none !important;
    border-bottom: 1px solid black !important;
    text-indent: 5% !important;
    font-size: 1.5rem !important;
    outline: none !important;
}

// MAIN

[data-completed="true"] {
    .done-btn {
        display: none;
    }
    .card-title {
        text-decoration: line-through;
    }
}

[data-completed="false"] {
    .undone-btn, .delete-btn {
        display: none;
    }
}

// UTIL
.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}